[Unit]
Description=shaughvOS-CloudShell on main screen (tty1)
Documentation=https://github.com/RealEmmettS/shaughvOS

[Service]
StandardOutput=tty
TTYPath=/dev/tty1
ExecStart=/boot/shaughvos/shaughvos-cloudshell 1
ExecStopPost=/bin/echo 'shaughvOS-CloudShell terminated, have a nice day!'

[Install]
WantedBy=multi-user.target
