[Unit]
Description=shaughvOS-WiFi_Monitor
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/var/lib/shaughvos/services/shaughvos-wifi-monitor.sh

[Install]
WantedBy=multi-user.target
