[Unit]
Description=shaughvOS-PostBoot
After=shaughvos-preboot.service

[Service]
Type=idle
RemainAfterExit=yes
StandardOutput=tty
ExecStart=/boot/shaughvos/postboot

[Install]
WantedBy=multi-user.target
