[Desktop Entry]
Type=Application
Name=Install shaughvOS
Comment=Install shaughvOS to your disk
Exec=/usr/local/bin/launch-calamares
Icon=calamares
Terminal=false
Categories=System;
